body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text,
.smile {
    text-align: center;
    font-size: 100px;
}

.smile {
    transform: rotateZ(90deg);
}

.autor {
    font-size: auto;
    position: fixed;
    right: 20px;
    bottom: 10px;
}